<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>Enter terms below(填写下面的术语)</h1>
    <form action="/testpost" method="post">

        <p>Plural noun(复数名称)</p><br>
        <input type="text" name="noun1">

        <p>Singular noun(单名词)</p><br>
        <input type="text" name="noun2">

        <p>Verb(past tense)(动词（过去式）)</p><br>
        <input type="text" name="verb">

        <p>Noun(名词)</p><br>
        <input type="text" name="noun3">

        <input type="submit">

    </form>
</body>
</html>